<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .video-container {
            position: relative;
            width: 300px;
            height: 500px;
            overflow: hidden;
        }

        video {
            width:100%;
            height:100%;
            object-fit: cover;
        }
        /* 모바일에서 최소 높이 적용 */
        @media (max-width: 768px) {
            .video-container {
                min-height: 400px; /* 최소 높이를 400px로 설정 */
                height: 100vw;
            }
        }
    </style>

</head>
<body>

<div class="video-container">
    <video id="myVideo" loop autoplay muted playsinline controls >
        not use video
        <source src="/download?fileName=test.mkv" type="video/mp4">
    </video>
</div>
<div class="video-list">
    <table>
        <thead>
            <tr>
                <td>id</td><td>filename</td><td>size</td><td>count</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dto : ${videoList}" th:data-video-src="${dto.getFilename()}">
                <td th:text="${dto.getId()}">id</td>
                <td th:text="${dto.getFilename()}">filename</td>
                <td th:text="${dto.getFilesize()}">size</td>
                <td th:text="${dtoStat.count}">stat</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    const tableRows = document.querySelectorAll('div table tbody tr');
    const videoIframe = document.getElementById('myVideo');
    console.log('script');
    tableRows.forEach(row => {
        row.addEventListener('click', () => {
            const videoSrc = row.dataset.videoSrc;
            console.log('videoSrc=', videoSrc);
            const encoded = encodeURIComponent(videoSrc);
            if (encoded) {
                // escape(), encodeURI(), encodeURIComponent()
                videoIframe.src = 'download?fileName=' + encoded;
            }
        });
    });
    const theadRows = document.querySelectorAll('div table thead tr');
    theadRows.forEach(row => {
        row.addEventListener('click', () => {
           videoIframe.src = '';
        });
    });

</script>
</body>
</html>